<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топ It</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="/letter">Письмо для мотивации</a>
                <a href="/achievments">Портфолио</a>
                <a href="/ckebob">ОСТОРОЖНО, не НАЖИМАТЬ</a>
                <a href="/essay">Эссе</a>
            </nav>

            <div class="head-cont">
                <h1>Всем "hello, world!" как говориться</h1>
                <p>Если вы читаете этот текст, это значит, 
                    что я смог сделать этот сайт..
                </p>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main-container">
                <div class="left-colomn">
                    <p>
                        Обычный ученик из села сделал 269 на егэ и пошел в политех
                    </p>
                </div>

                <div class="right-colomn">
                    <h2>Жизнь сельского айпишника или как я сдавал егэ по информатике</h2>
                    <p>SDJHFSDFDFJKSDFJSDFHSDJFSDKLFJDSFKLSDHGKLJDAGJDSJG
                        SDGKLSDKJGSDJGJSDGKJSDKGDLKGKLSDKGJSDKJ
                        GKSDJKGJSDKGJSDJGSJDGKJDSGKKDLGKLDSJGKL
                        JSDKLGJSDKGJSDJGSDKLGJSDGJKSDKJGKSDGJKSDGJKK
                        LGJJKSDKLGJKGJKSDLKG</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
