<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>письмо</title>
</head>
<body>
    <header>
        <div class="head-cont">
                <h1>Письмо мотивационное</h1>
                <p>Почему на программу ТОП-ИТ должны взять именно меня:
                    <p>Мотивация и готовность к интенсиву: 
                    - Быстро учусь, умею брать ответственность и доводить задачи до результата
                    - Готов вкладывать время и силы
                    - Открыт к обратной связи 
                    Коммуникационная компетентность:
                    - Умею работать в команде, писать понятную документацию</p>

                    Каким я вижу свое будущее в сфере ИТ:

                    Планирую укрепить фундамент посредством освоения профильных технологий, далее - достичь уровня мидл, 
                    брать ответственность за решения и участвовать в полном цикле разработки. Затем я хочу стать лидером в выбранной
                    области, участвовать в масштабных проектах и внедрять лучшие практики.

                    Принципы моей стратегии развития: 
                    - Непрерывное обучение: курсы, участие в конференциях 
                    - Практика: реализация реальных проектов и вклад в open-sourse
                    - Софт-скиллы: коммуникация, управление временем, работа в команде. 
                </p>
            </div>
    </header>
</body>
</html>
